#battle_sim,
#battle_sim_enemy {
	font-family:Verdana, Tahoma, Georgia, sans-serif;
	font-size: 15px;
	border: 1px solid purple;
    width: 615px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}

#default_checked {
    display: none
}

#enemy_default_checked {
    display:none
}

#epic_abilities {
    position: relative;
    bottom: 10px;
}

#enemy_epic_abilities {
    position: relative;
    bottom: 10px
}

input[type=number] {
	width: 40px;
}

#privateer_selector {
    display:none
}

#enemy_privateer_selector {
    display:none
}

#class_based_checked {
    display:none
}

#enemy_class_based_checked {
    display:none
}

#simulation {
    display:none
}

#simulation_buttons {
    display:none
}

#results_box {
    position:relative;
    left:500px;
    top:100px;
    display:none;
}

#simulation {
    position:relative;
    top:-210px;
}

#simulation_button {
    position:relative;
    top:-220px;
    display:none;
}

#return_button {
    position:relative;
    top:-330px;
    left:500px;
    display:none;
}